contourpy 
cycler
fonttools
kiwisolver
matplotlib==3.10.8
mkl-service==2.5.2
mkl_fft
mkl_random
numpy
packaging
pillow
pyparsing
PyQt6==6.9.1
PyQt6_sip
python-dateutil
setuptools==80.9.0
sip
six
tornado
wheel==0.45.1
